@{
    ViewData["Title"] = "Home Page";
}
@model GolfHandicap.ViewModels.LoginViewModel

<div class="text-center">
    <h1 class="display-4">Login</h1>

</div>

<form>
    <div class="row">
        <div class="col">
            <label asp-for="Username"></label>
            <input class="form-control" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="col">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <br/>
    <input type="submit" value="Login" />
</form>
