@{
    ViewData["Title"] = "Rules of Handicapping";
}
<h1>@ViewData["Title"]</h1>

<p>For more detailed information about <a href="https://www.usga.org/handicapping/roh/2020-rules-of-handicapping.html" target="_blank">the World Handicapping System</a>.</p>
